* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0d0d0d;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
}
#about,
#team,
#projects,
#achievements,
#join {
  scroll-margin-top: 90px;
}
